#img-product {
    width: 72px;
    height: 80px;
    background: white;
    padding: 5px;
    border: 0.5px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 64px;
    background: white;
    border-right: 1px solid;
    border-color: #D9D9D9;
    justify-content: space-between;
    width: 100%;
}

.button-quantity {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: rgb(30 58 138);
    background-color: white;
    color:rgb(30 58 138);
}
.button-quantity:hover {
    background-color: rgb(30 58 138);
    color: white;
}

.input-quantity {
    border-color: #D9D9D9;
    width: 35px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    text-align: center;
    background-color: rgb(248 250 252);
}

.input-quantity:focus {
    outline: none;
}

.price {
    font-weight: 600;
    color: rgb(30 58 138);
    font-size: 18px;
}

.full_section {
    display: flex;
    align-items: center;
    gap: 52px;
}

.full-mobile {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.update-quantity {
    display: flex;
    gap: 5px;
}

.product-info {
    max-width: 550px;
    min-width: 180px;
    text-align: start;
    max-height: max-content;
    margin-bottom: 5px;
}

.right-content {
    display: flex;
    justify-items: end;
    gap: 64px;
    margin-right: 45px;
    align-items: center;
}

.delete-button {
   background-color: #fecaca;
   width: fit-content;
   border-radius: 5px;
   padding: 10px;
}

.delete-mobile {
   display: flex;
   justify-items: end;
   margin-left: auto;
   color:  #dc2626;
   width: fit-content;
   border-radius: 5px;
   margin-right: -5px;
   margin-top: -5px;
   margin-bottom: 12px;
   background-color: #fecaca;
}
.cart-quantity {
    display: flex;
    justify-items: end;
    justify-content: end;
    margin-left: auto;
    margin-top: -42px;
    padding-bottom: 5px;
}

.delete-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-note {
    text-align: start;
    margin-bottom: -5px;
    margin-top: -10px;
    font-size: 10px;
}

.banner-top {
    width: 100%;
    height: 250px;
    object-fit: none;
    object-position: center;
    background-color: rgba(255, 225, 173, 1);
}

.product-name {
    font-weight: 600;

}
.category {
    font-size: 14px;
    margin-top: -10px;
}

@media (max-width: 1080px){
    .total {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1000px){
    .product-name {
        font-size: 14px;
    }
    .category {
        font-size: 12px;
        margin-top: -5px;
    }
    .right-content {
        gap: 32px;
    }
    .product-info {
        margin-left: -20px;
    }
    .banner-top {
        height: 175px;
    }
    .header {
        font-size: 2px;
    }
    .text-note {
        font-size: 12px;
    }
}

.cart-sec {
    margin-top: 20px;
}

.header {
    text-align: start;
    margin-top: 14px;
    font-weight: 800;
    margin-bottom: -20px;
    color:rgb(30 58 138);
    background: linear-gradient(#212245b2, #212245b2);
    background-image: url("../../public/banner-cart.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    padding: 80px 0px;
}

.header h2 {
    font-weight: 600;
    font-size: 42px;
    display: flex;
    justify-items: end;
}

.cart-header {
    transform: scale(.8);
    display: flex;
    align-items: start;
    margin-left: -20px;
    justify-items: end;
    margin-bottom: -25px;
    opacity: 100%;
}

.result {
    margin-bottom: -5px;
    display: flex;
    align-items: start;
}